.chat {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    background-color: #363a3f;
    height: 100vh;
  }
  .chat__messages {
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .chat__messages::-webkit-scrollbar {
    display: none;
  }
  
  .chat__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #474b53;
    color: lightgray;
    border-top: 1px solid gray;
    width: 90%;
    margin-bottom: 10px;
  }
  
  .chat__input > form {
    display: flex;
    width: 550px;
    flex: 1;
  }
  
  .chat__input > form > input {
    flex: 1;
    border: none;
    outline-width: 0;
    padding: 15px;
    color: white;
    background: transparent;
    font-size: large;
  }
  
  .chat__inputButton {
    display: none;
  }
  
  .chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
  }
  
  .chat__inputIcons > .MuiSvgIcon-root:hover,
  .chat__input > .MuiSvgIcon-root:hover {
    color: white;
    cursor: pointer;
  }
  