.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
}
.sidebar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color:white ;
    border-bottom: 3px solid #26282c;
}
.sidebar__groups{
    cursor: pointer;
}
.sidebar__groups{
    flex: 1;
}
.sidebar__addGroup:hover{
    color: white
}